@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* player profile card */
.profile__card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 2px solid #c0c6cb;
  transition: 0.3s;
  width: 348px;
  height: 508px;
  margin: 20px auto;
  padding: 18px;
  border-radius: 8px;
}

/* header */
.card__header {
  display: flex;
  justify-content: space-around;
}

.card__left {
  flex: 0;
}

.card__right {
  flex: 1;
  margin-left: 12px;
}

.profile__pic {
  width: 50px;
  height: 50px;
  border-radius: 56%;
  border: 4px solid #e6e8eb;
  animation: pic ease-in 3s;
}

.profile__pic img {
  border-radius: 50%;
  border: 1px solid #ffffff;
}

img:hover {
  border-radius: 56%;
  border: 1px solid #e6e8eb;
  transform: scale(1.5);
  transition: 1s;
  margin-right: 6px;
}

.card__name {
  font-size: larger;
  font-weight: bold;
  color: #001521;
}
.card__location {
  font-size: medium;
  flex-direction: column;
  line-height: 27px;
  color: #46555f;
}
.down__section {
  display: flex;
  margin-top: 16px;
  font-size: medium;
  color: #46555f;
}
.quality {
  flex: 0;
  margin: 0 4px 0 0;
}
.quality__percent {
  flex: 1;
  margin: 6px 4px 0 0px;
}
.svg__rotate {
  transform: rotate(-88deg);
}
.svg__circle {
  stroke-dashoffset: 20;
  stroke-linecap: round;
  transform: rotate(-2deg);
  animation: progress linear 1s;
}

/* animations */
@keyframes progress {
  0% {
    stroke-dashoffset: 80;
  }
  50% {
    stroke-dashoffset: 75;
  }
  75% {
    stroke-dashoffset: 35;
  }
  100% {
    stroke-dashoffset: 20;
  }
}

@keyframes pic {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.handicap {
  /* trbl */
  margin: 0 15px 0 12px;
}
.sg__total {
  margin: 0 4px 0 12px;
}

/* down section Numbers */
.quality__num {
  margin-top: 2px;
  font-size: medium;
  font-weight: bold;
  color: #001521;
}

.handicap__num {
  margin-top: 2px;
  font-size: medium;
  font-weight: bold;
  color: #001521;
}

.sgTotal__num {
  margin-top: 2px;
  font-size: medium;
  font-weight: bold;
  font-size: medium;
  color: #001521;
}

/* vertical and horizontal stroke lines */
.stroke__line {
  border-left: 2px solid #dadee2;
  height: 40px;
}

.hr__line {
  margin: 16px 0 !important;
  padding: 0px !important;
  width: 100%;
  border-top: 2px solid #dadee2;
}
